@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grand Circus Coffee Admin</h1>
    <p class="lead">Inventory administration for Grand Circus Coffee</p>
    <p><a href="/Home/ItemAdmin" class="btn btn-primary btn-lg">Items &raquo;</a></p>
</div>

